* {
    margin: 0;
    padding: 0;
}

#calc {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: pink;
}


#calc .result {
    height: 50px;
    flex-grow: 1;
    margin: 5px;
    background: white;
    
}

#calc .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#calc button {
    width: 20%;
    height: 50px;
    border: 1px solid yellow;
    border-radius: 5px;
    margin: 5px;
    background: lightgreen;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}

#calc button.reset {
    background: red;
}

#calc button.del,
#calc button.sum {
    min-width: 46%;
}

